body {
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

.wrap-container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px;
}

img {
    width: 200px;
    height: 200px;
}

a {
    text-decoration: none;
}